body,
html {
	margin: 0;
	height: 100%;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.3px;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
[class*="col-"] {
	float: left;
	padding: auto;
}
[class*="col-"] {
	width: 100%;
}
.burger {
	height: 3em;
	width: 3em;
	position: relative;
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-tap-highlight-color: transparent;
}
.burger .burger-lines:after {
	left: 0;
	top: -1em;
}
.burger .burger-lines:before {
	left: 1em;
	top: 1em;
}
.burger:after {
	content: "";
	display: block;
	position: absolute;
	height: 150%;
	width: 150%;
	top: -25%;
	left: -25%;
}
.burger .burger-lines {
	top: 50%;
	margin-top: -0.125em;
}
.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
	pointer-events: none;
	display: block;
	content: "";
	width: 100%;
	border-radius: 0.25em;
	background-color: #000;
	height: 0.25em;
	position: absolute;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.burger .burger-lines:after {
	left: 0;
	top: -1em;
}
.burger .burger-lines:before {
	left: 1em;
	top: 1em;
}
.burger.burger-slip .burger-lines:after,
.burger.burger-slip .burger-lines:before {
	width: 2em;
}
.burger.burger-slip.open .burger-lines:before,
.burger.burger-slip.open .burger-lines:after {
	left: 0.5em;
	top: 0px;
}
.topnav {
	overflow: hidden;
	background-color: #fff;
}
.topnav a {
	float: left;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.2rem;
}
.topnav-right a:hover {
	font-weight: 600;
	transition: font-weight 0.2s;
}
.topnav-right {
	float: right;
}
.topnav-right a:last-child {
	text-align: right !important;
}
.topnav .icon {
	display: none;
}
#logo {
	font-size: 1.4em;
	color: #672fdb;
	font-weight: 500;
	padding-left: 0;
}
.logo {
	float: left;
	padding: 15px 10px;
	border-radius: 50%;
}
.main-1 {
	background: rgb(214, 39, 232);
	background: linear-gradient(
		173deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	background: -webkit-linear-gradient(
		277deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	background: -moz-linear-gradient(
		173deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	background: -o-linear-gradient(
		173deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container-1 {
	background-color: #fff;
	width: 400px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50px;
	transform: translateY(-50px);
	transition: all 2s fade-in;
}
.main-1-footer {
	color: #fff;
	position: relative;
	top: 160px;
	font-size: 1.2em;
}
.purp-box {
	font-size: 0.9rem;
	background-color: #f3effd;
	border-radius: 8px;
	margin: 20px;
	padding: 5px 10px;
	text-align: center;
	box-shadow: 2px 3px 9px lightgrey;
}
.purp-box b {
	color: #672fdb;
}
.purp-button {
	background-color: #672fdb;
	color: #fff;
	width: 30%;
	text-align: center;
	padding: 12px 18px;
	border-radius: 15px;
	box-shadow: 2px 3px 5px lightgrey;
	position: relative;
	transition: 0.3s;
}
.purp-button:hover {
	padding-right: 20px;
	padding-left: 12px;
	color: #fff;
}
.purp-button:after {
	color: #fff;
	content: "»";
	position: absolute;
	opacity: 0;
	top: 12px;
	right: -20px;
	transition: 0.5s;
}
.purp-button:hover:after {
	opacity: 1;
	right: 8px;
}
.purp-button a {
	text-decoration: none;
	color: #fff;
}
.main-2 .container h2 {
	text-align: center;
	font-weight: 400;
	margin: 25px 0;
}
.main-2-divider {
	display: flex;
	justify-content: space-between;
}
.card-container {
	background-color: #f3effd;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 49.75%;
	padding: 100px 0;
}
.card {
	background-color: #fff;
	width: 50%;
	height: 50%;
	padding: 25px;
	box-shadow: 2px 3px 9px lightgrey;
	margin: 5px 0;
}
.card-activity {
	background-color: #f3effd;
	display: inline-block;
	border-radius: 8px;
	padding: 5px 8px;
	margin-bottom: 8px;
}
.card-user {
	font-weight: 500;
	font-size: 1.1rem;
	margin-bottom: 0;
}
.card-time {
	font-weight: 300;
	font-size: 0.9rem;
	margin-top: 0;
}
.description {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}
.description p {
	text-align: center;
	color: #000;
}
.main-3 {
	background: rgb(214, 39, 232);
	background: linear-gradient(
		173deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	background: -webkit-linear-gradient(
		277deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	background: -moz-linear-gradient(
		173deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	background: -o-linear-gradient(
		173deg,
		rgba(214, 39, 232, 1) 0%,
		rgba(64, 44, 237, 1) 95%
	);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container-3 {
	width: 40%;
	height: auto;
	background-color: #fff;
	padding: 30px 30px;
}
.container-3 p {
	margin-bottom: 40px;
	text-align: justify;
}
.container-3 h1 {
	margin-top: 0;
}
.cont-3 {
	width: 150px;
}
.main-3-btn {
	background-color: #672fdb;
	color: #fff;
	width: 30%;
	text-align: center;
	padding: 12px 18px;
	border-radius: 15px;
	box-shadow: 2px 3px 5px lightgrey;
	position: relative;
	transition: 0.5s;
}
.main-3-btn:hover {
	padding-right: 20px;
	padding-left: 12px;
	color: #fff;
}
.main-3-btn:after {
	color: #fff;
	content: "»";
	position: absolute;
	opacity: 0;
	top: 12px;
	right: -20px;
	transition: 0.5s;
}
.main-3-btn:hover:after {
	opacity: 1;
	right: 18px;
}
.main-3-btn a {
	text-decoration: none;
	color: #fff;
}
.footer {
	background-color: #f3effd;
}
.q-link {
	margin-bottom: 15px;
}
.q-link ul {
	list-style: none;
	list-style-position: inside;
	padding-left: 0;
}
.q-link ul li {
	margin: 5px;
	text-decoration: none;
	color: #fff;
}
.q-link ul li a {
	text-decoration: none;
	color: #000;
}
.q-link ul li:hover {
	transform: scale(1.02);
	transition: 0.25s;
}
.footer .container div h3 {
	font-weight: 400;
}
.social-links {
	display: inline-block;
	margin-bottom: 15px;
}
svg {
	margin: 4px;
}
.link {
	text-decoration: none;
}
form {
	margin-bottom: 40px;
}
input,
.btn-footer {
	width: 100%;
	margin: 10px 0;
	padding: 16px;
	background-color: #f3effd;
	border: 0;
	outline: 0;
	border-radius: 15px;
}
input {
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
	text-shadow: 0.5px 0.5px 0 #fff;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	appearance: none;
	-webkit-appearance: none;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-family: "Poppins", sans-serif;
}
input:focus {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}
.btn-footer {
	box-shadow: -5px -5px 15px #fff, 5px 5px 15px #babecc;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	transition: background-color 0.3s ease-in;
}
.btn-footer:hover {
	box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
	font-family: "Poppins", sans-serif;
	background-color: #672fdb;
	color: #fff;
	transition: background-color 0.3s ease-in;
}
.btn-footer:active {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
}
#result {
	color: red;
	font-size: 0.9rem;
}

#err-msg {
	color: red;
	font-size: 0.9rem;
	text-align: center;
}

.copyright {
	text-align: center;
	font-size: 12px;
	padding-bottom: 20px;
}
.animation-element.slide-left {
	opacity: 0;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
	-moz-transform: translate3d(-100px, 0px, 0px);
	-webkit-transform: translate3d(-100px, 0px, 0px);
	-o-transform: translate(-100px, 0px);
	-ms-transform: translate(-100px, 0px);
	transform: translate3d(-100px, 0px, 0px);
}
.animation-element.slide-left.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-right {
	opacity: 0;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
	-moz-transform: translate3d(100px, 0px, 0px);
	-webkit-transform: translate3d(100px, 0px, 0px);
	-o-transform: translate(100px, 0px);
	-ms-transform: translate(100px, 0px);
	transform: translate3d(100px, 0px, 0px);
}
.animation-element.slide-right.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@media screen and (max-width: 360px) {
	.container-1 {
		max-width: 200px;
	}
	.des-container {
		max-width: 250px;
	}
}
@media screen and (max-width: 425px) {
	.container-1 {
		max-width: 250px;
	}
	.des-container {
		max-width: 360px;
	}
}
@media screen and (max-width: 576px) {
	.container-1 {
		max-width: 300px;
		padding: 20px 15px;
	}
	.main-3-btn {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.main-2-divider {
		flex-direction: row;
		flex-flow: wrap;
	}
	.card-container {
		width: 100%;
		padding: 25px 0;
	}
	.card {
		margin: 10px 0;
	}
	.main-1-footer {
		top: 130px;
	}
	.container-3 {
		width: 60%;
	}
	.topnav-right a {
		float: left;
		display: none;
		text-align: right;
	}
	.topnav-right a:last-child {
		text-align: right !important;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: right;
	}
	.topnav.responsive > a {
		text-align: left !important;
	}
}
@media (min-width: 320px) {
	.container {
		max-width: 310px;
		padding-right: 5px;
		padding-left: 5px;
	}
}
@media (max-width: 320px) {
	.container-1 {
		width: 200px;
	}
}
@media (min-width: 360px) {
	.container {
		max-width: 350px;
	}
}
@media (min-width: 425px) {
	.container {
		max-width: 415px;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 550px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-6 {
		width: 50%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-12 {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
